.posts {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 30px;

}

@media (max-width: 1000px) {
  .posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  .posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.post {
    background-color: white;
    height: fit-content;
    padding-bottom: 20px;
    border-radius: 10px;
}

.posts .cover {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  display: block;
}

.post img {
    width: 60%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.post > *:not(img) {
    padding: 0 1rem;
}
.post > div {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    font-size: 0.8rem;
}
.post >  h2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: 0.75rem 0.25rem;
    margin: 0;
}
.post >  p {
    margin: 0;
}
.post >  a {
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid var(--clr-cta);
    color: light-dark(var(--clr-cta), white);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    place-self: start;
    transition: 150ms ease-in-out;
    &:hover,
    &:focus-visible {
        background-color: var(--clr-cta);
        color: white;
        outline: none;
    }
}

.block-posts {
    padding: 20px 0;
    background-color: rgba(212, 175, 55, 0.2);
}

.home-block h2 {
    text-align: center;
}

.muted {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    color: black;
    background-color: rgba(212, 175, 55, 0.2);
    border: 1px solid #D4AF37;
    padding: 5px;
    border-radius: 5px;
}

.home-block .btn {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
}

/* секция (по желанию) */
#gallery { padding-bottom: 50px; }

/* КОНТЕЙНЕР СЕТКИ */
#gallery-grid {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr)); /* 3 колонки */
  gap: 30px;
}

@media (max-width: 1000px) {
  #gallery-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


/* телефон: 2 колонки */
@media (max-width: 700px) {
  #gallery-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* карточка-изображение */
#gallery-grid .thumb {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}